#home {
    background: #efefef url("images/cropland-farm-field-1406864.jpg") no-repeat fixed center; 
    background-size: cover;
}

#survey {
    background: #efefef url("images/adult-backlit-beach-1000445.jpg") no-repeat fixed center; 
    background-size: cover;
}

.my-header {
    background:rgba(239, 239, 239, 0.4)   
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.profile-pic {
    width: 240px;
    height: 240px;
    display: inline-block;
}

.centered-and-cropped {
    object-fit: cover;
}